/* Style for Submit button */
button[type="submit-button"] {
  float: left;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 800;
  margin-top: 10px;
  padding: 1em 3em;
  cursor: pointer;
  text-transform: uppercase;
  color: #f5f5f5;
  background: linear-gradient(rgb(171, 215, 69) 11.1%, rgb(125, 175, 10) 95.3%);
  border: 0;
  border-style: solid;
  border-radius: 5px;
}

button[type="submit-button"]:hover {
  box-shadow: 3px 2px 30px 1px rgba(125, 125, 125, 0.24);
  transition: all 200ms ease-in-out;
}
button[type="submit-button"]:active {
  transform: scale(0.98);
  background: linear-gradient(rgb(137, 192, 8) 11.1%, rgb(69, 144, 0) 95.3%);
  transition: all 200ms ease-in-out;
}

/* Style for Reset button */
button[type="reset-button"] {
  /* float: left; */
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 800;
  margin-top: 10px;
  padding: 1em 3em;
  cursor: pointer;
  text-transform: uppercase;
  color: #f5f5f5;
  background: linear-gradient(rgb(1, 167, 186) 11.1%, rgb(7, 140, 154) 95.3%);
  border: 0;
  border-style: solid;
  border-radius: 5px;
}

button[type="reset-button"]:hover {
  box-shadow: 3px 2px 30px 1px rgba(125, 125, 125, 0.24);
  transition: all 200ms ease-in-out;
}

button[type="reset-button"]:active {
  transform: scale(0.98);
  background: linear-gradient(rgb(0, 155, 172) 11.1%, rgb(0, 107, 119) 95.3%);
  box-shadow: 3px 2px 30px 1px rgba(125, 125, 125, 0.24);
}

/* Style for Borrow button */
button[type="borrow-button"] {
  display: inline;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 800;
  margin-top: 10px;
  padding: 1em 3em;
  cursor: pointer;
  text-transform: uppercase;
  color: #f5f5f5;
  background: linear-gradient(rgb(171, 215, 69) 11.1%, rgb(125, 175, 10) 95.3%);
  border: 0;
  border-style: solid;
  border-radius: 5px;
}

button[type="borrow-button"]:hover {
  box-shadow: 3px 2px 30px 1px rgba(125, 125, 125, 0.24);
  transition: all 200ms ease-in-out;
}
button[type="borrow-button"]:active {
  transform: scale(0.98);
  background: linear-gradient(rgb(137, 192, 8) 11.1%, rgb(69, 144, 0) 95.3%);
  transition: all 200ms ease-in-out;
}

/* Style for Listen to a Sample button */
button[type="listen-sample-button"] {
  display: inline;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 800;
  margin-top: 10px;
  padding: 1em 3em;
  cursor: pointer;
  text-transform: uppercase;
  color: #f5f5f5;
  background: linear-gradient(rgb(171, 215, 69) 11.1%, rgb(125, 175, 10) 95.3%);
  border: 0;
  border-style: solid;
  border-radius: 5px;
}

button[type="listen-sample-button"]:hover {
  box-shadow: 3px 2px 30px 1px rgba(125, 125, 125, 0.24);
  transition: all 200ms ease-in-out;
}
button[type="listen-sample-button"]:active {
  transform: scale(0.98);
  background: linear-gradient(rgb(137, 192, 8) 11.1%, rgb(69, 144, 0) 95.3%);
  transition: all 200ms ease-in-out;
}

/* Style for Search button */
button[type="search-btn"] {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 1em 3em;
  cursor: pointer;
  text-transform: uppercase;
  color: #f5f5f5;
  background: linear-gradient(rgb(171, 215, 69) 11.1%, rgb(125, 175, 10) 95.3%);
  border: 0;
  border-style: solid;
  border-radius: 5px;
}

button[type="search-btn"]:hover {
  box-shadow: 3px 2px 30px 1px rgba(125, 125, 125, 0.24);
  transition: all 200ms ease-in-out;
}
button[type="search-btn"]:active {
  transform: scale(0.98);
  background: linear-gradient(rgb(137, 192, 8) 11.1%, rgb(69, 144, 0) 95.3%);
  transition: all 200ms ease-in-out;
}
